// ______________________________PAGE CONTACT_______________________________
// ---------> Title
#title_agenda{
    background-image: url(img/TITLE/image_title7.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat:no-repeat;
}
// -----------> big bloc event
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .space_rs{
        display: flex;
        justify-content:space-around;
        text-align: center;
        li{list-style: none;}
    }
}
@media only screen and (min-width: 150px )and(max-width:900px){
    #agenda{
        border: 2px solid black;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}