// ______________________________PAGE ANNUAIRE_______________________________
// ---------> Title
#title_annuaire{
    background-image: url(img/TITLE/image_title8.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat:no-repeat;
}
// -------> ENVELOPPE TOUTE LES SCOP
.bloc_annuaire{
    display: flex;
    justify-content: space-around;
    width: 100%;
    .box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
        width: 800px;  
    }
}
// --------------> cCARTE INDIVIDUELLE
.our-team-main{
	width:302px;
	height:auto;
	border:2px green solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}
.our-team-main img{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}
.our-team-main h3{
	font-size:20px;
	font-weight:700;
}
.our-team-main p{
	margin-bottom:0;
}
.team-back{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;	
}
.team-front{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}
.our-team-main:hover .team-front{
	bottom:-200px;
	transition: all 0.5s ease;
}
.our-team-main:hover{
	border-color:#777;
	transition:0.5s;
}
// _______________________responsive____________________
@media only screen and (min-width: 150px )and(max-width:900px){
    .bloc_annuaire{
        display: flex;
        flex-direction: column;
        .box{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
           
        }
    }
}
