body{ background-color: white;}
ion-icon{
    height: 25px;
    width: 35px;
    color: #588623;    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
nav a{
    font-size: 20px;
}
.title_titre{
    background-color:#588623 ;
    color: white;
}
a{color: #588623;}
// -------------->footer
.rs_footer{
    width: 25%;
    display: flex;
    justify-content: space-around;
    ion-icon{
        width: 30px;
        height: 30px;
    }  
}
footer{border-top: 2px solid lightgrey;}