// ______________________________________CSS PAGE actualité _______________________________
// ---------> Titre 
#title_new{
    background-image: url(img/TITLE/image_title4.jpg);
    background-position:top ;
    background-size: cover;
    background-repeat:no-repeat;
}
.bloc_RSActu{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_rs{
    height: 60px ;
    width: 60px;
    margin:20px ;
}
.rs{
    // border:2px solid royalblue;
    display: flex;
    justify-content: space-around;
}
.list_article{
    // border:2px solid greenyellow;
    display: flex;
    justify-content: space-around;
    height: 40%;
}
.box_news{
    //  border:2px solid rebeccapurple;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .last_news{
        // border:2px solid firebrick;
        width: 50%;
        height: auto; 
        display: flex;
        justify-content: space-around;
        div{
            // border:2px solid aqua;
            width: 70%;
            margin: 20px;
            // display: flex;
            // flex-direction: column;
            
            h5,p{
                text-align: start;
            }
            button{
                text-align: end;
                
            }
        }
    }
}

// @media only screen and (min-width: 150px )and(max-width:170px){
// }
@media all and (max-device-width: 480px)
{

    .list_article{
        // border:2px solid greenyellow;
        display: flex;
        flex-direction: column;
        img{display:none;}
        
    }
    .last_news{
        // border:2px solid firebrick;
        width: 60%;
        height: auto; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        img{display:none;}
        div{
            display: flex;
            justify-content: space-around; 
            flex-direction: column;
            }
    }
    // RESAUX SOCIAUX
    .RS{
        
        display: none;
    }
    // .rs{
    //     border:2px solid royalblue;
    //     margin-bottom: 20px;
    //     display: flex;
    //     flex-direction: column;

    // }
    // .logo_rs{
    //     height: auto ;
    //     width: auto;
        
        
    // }
}
