// ______________________________________CSS PAGE RSE _______________________________
// ---------> RSE
#title_rse{
    background-image: url(img/TITLE/image_title2.jpg);
    background-position:top ;
    background-size: cover;
    background-repeat:no-repeat;
   }
// ________________>SECTION VIDEO<_________________//
#bloc_rse_video{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ContainerVideo,#ContainerVideo1{
    width: 400px;
    height: 250px;
    margin: 20px;
    display: flex;
   
}
// ----> espcement des video 3 / 2
#video_separer{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
// -----> image fond video
#ContainerVideo1{
    background-position:top ;
    background-size: contain;
    background-repeat:no-repeat;
    // opacity: 0.33;
}
// ----> logo Youtube
#youtube{
    width: 70px;
    height: 65px;
    color: green;
}
// ----> modif size texte derniers vidéo (santé et securité )
.text_video{
    font-size: 20px;
    line-height: 39px;
}
// ________________>SECTION S'ENGAGER <_________________//
// ----> Partie avec les fleche ->
#sengager{
    display: flex;
    justify-content: space-around;
}
#bloc_paragraphe{
    display: flex;
    ul{
        margin: 20px;
        width: 50%;
        text-align: start;
        li{
            list-style: none;}
    }
}
// -----> Partie avec la photo
.bloc_engager{
    display: flex;
    justify-content: space-between;
    width: 85%;
    .text_engager{
        // border:2px solid gray;
        display: flex;
        align-items: center;
        line-height: 45px;
        text-align: start;
        li{list-style: none;}
    }
}
// ________________>SECTION  SCOP LABELLE <_________________//
#list-label{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .cart_label{
        width: 200px;
        height: 185px;
        margin-top: 20px;
        background-color: #F5F5F5;
        padding-top: 20px;
        font-size: 25px;
        .label_text{
            font-size: 20px;
        } 
    }
    .cart_label_labeliser{
        width: 25%;
        height: 185px;
        margin-top: 20px;
        background-color: #F5F5F5;
        padding-top: 25px;
        text-align: center; 
    }
.scoop_non_labelise{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    }
}
// ________________________________MEDIA QUERY 
@media only screen and (min-width: 150px )and(max-width:900px){    
// -------------------------> section video
#video_separer{
    display: flex;
    flex-direction: column;    
}
#ContainerVideo,#ContainerVideo1{
    width: 100px;
    height: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#bloc_rse_video{    
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
// ----------------> section s'engager ( photo + texte ->)
.bloc_engager{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    img{
        width: 60%;
        height: auto;
        margin:auto;
    }
    .text_engager{
        // border:2px solid gray;
        display: flex;
        align-items: center;
        line-height: 45px;
        text-align: start;
        font-size: 15px;
        li{ list-style: none;}
    }
}
//-------------------------> raison de s'engager
#sengager{
    display: flex;
    flex-direction: column;
    #bloc_paragraphe{
        display: flex;
        flex-direction: column;
        ul{
            width: auto;
            text-align: start;
            li{
                margin: 0;
                list-style: none;}
            }
        }
    }
//-------------------------> SCOP ENGAGER    
#list-label{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .cart_label{
        width: 80%;
        height: auto;
        margin-top: 20px;
        background-color: #F5F5F5;
        padding-top: 20px;
        font-size: 25px;
        .label_text{
            font-size: 20px;
        } 
    }
    .cart_label_labeliser{
        width: 65%;
        height: auto;
        margin-top: 20px;
        background-color: #F5F5F5;
        padding-top: 25px;
        text-align: center;
        
    }
.scoop_non_labelise{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    }
}
}
